<!DOCTYPE html>
<html lang="en">
	<head>
		

	{% include head.html %}
	<body role="document">
		<!--<div class="blog-masthead">-->
			<!-- Fixed navbar -->
			<nav id="top" class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="navbar-brand">
							<a href="/"><img src="/img/logo-mini.png" alt="michaeldavidson.me" /></a>
						</span>
						<a class="navbar-brand" href="/">michaeldavidson.me</a>
					</div>
					
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="{% if page.active_menu_item == "home" or page.active_menu_item == null %}active{% endif %}"><a href="/">Home</a></li>
							<li class="{% if page.active_menu_item == "about" %}active{% endif %}"><a href="/about">About</a></li>
	
							<!--Category Menu-->
							<li class="{% if page.active_menu_item == "category" %}active{% endif %} dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By Category <span class="caret"></span></a>
								<ul class="dropdown-menu">
									{% for category in site.categories %}
										<li class="{% if page.active_submenu_item == category.Name %}active{% endif %}"><a href="/category/{{ category.Name }}">{{category.Name | capitalize }} <span class="badge">{{ category.Posts.size }}</span></a></li>
									{% endfor %}
								</ul>
							</li>
							
							
							<!--Tag Menu-->
							<li class="{% if page.active_menu_item == "tag" %}active{% endif %} dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By Tags <span class="caret"></span></a>
								<ul class="dropdown-menu">
									{% for tag in site.tags  %}
										<li class="{% if page.active_submenu_item == tag.Name %}active{% endif %}"><a href="/tag/{{ tag.Name }}">{{tag.Name | capitalize }} <span class="badge">{{ tag.Posts.size }}</span></a></li>
									{% endfor %}
								</ul>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
		<!--</div>-->
		
		<div class="container">
			{{content}}
		</div>

		<footer>
			<ul class="list-inline">
				<li><a href="https://twitter.com/mrmdavidson">@mrmdavidson</a></li>
				<li><a href="https://github.com/MrMDavidson">Github</a></li>
				<li><a href="http://stackoverflow.com/users/150728/mrmdavidson">StackOverflow</a></li>
				<li><a href="mailto:me@michaeldavidson.me">me@michaeldavidson.me</a></li>
				<li><a href="/rss.xml"><img src="/img/25.png" />&nbsp;RSS feed</a></li>
			</ul>
			
			<p><a href="#top">Back to top</a></p>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
		<!-- Bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
		
		<script src="//cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		
		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-67005498-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>